* {
    box-sizing: border-box;
}


body {

    margin: 0;

    padding: 10px;

    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

    background: #f2f2f7;

    color: #111;

}



.app {

    max-width: 500px;

    margin: auto;

}



header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    height: 45px;

}



h1 {

    font-size: 22px;

    margin: 0;

}



button {

    border: none;

    border-radius: 12px;

    padding: 10px 14px;

    font-size: 16px;

    background: #007aff;

    color: white;

    cursor: pointer;

}



button:active {

    transform: scale(0.96);

}




#instellingenKnop {

    width: 45px;

    height: 40px;

    padding: 0;

    font-size: 22px;

}




#resultaat {

    background: white;

    border-radius: 16px;

    padding: 10px;

    margin: 8px 0;

    text-align: center;

}



#resultaat h2 {

    margin: 0;

    font-size: 16px;

}



#samenvatting {

    font-size: 20px;

    font-weight: bold;

    min-height: 25px;

}





#wielen {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 8px;

}





.wiel {

    background:white;

    border-radius:16px;

    padding:8px;

    text-align:center;

    box-shadow:
    0 2px 5px rgba(0,0,0,.15);

}



.wiel-titel {

    font-size:15px;

    font-weight:bold;

}



.wiel-waarde {

    height:45px;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:18px;

    font-weight:bold;

    overflow:hidden;

}



.draaiKnop {

    width:100%;

    padding:8px;

    font-size:14px;

}





.vergrendeld {

    background:#34c759;

}



.pagina {

    max-width:500px;

    margin:auto;

}



.verborgen {

    display:none;

}



#wielBeheer div {

    background:white;

    padding:10px;

    margin:8px 0;

    border-radius:14px;

}




input,
textarea {

    width:100%;

    padding:10px;

    margin-bottom:10px;

    border-radius:10px;

    border:1px solid #ccc;

    font-size:16px;

}




textarea {

    resize:none;

}




@media(max-height:700px){


    .wiel {

        padding:5px;

    }


    .wiel-waarde {

        height:35px;

        font-size:16px;

    }


    button {

        padding:8px;

    }


}
